<!DOCTYPE html>
<html lang='en'>
    <head>
        <title>Edit Owl Info</title>
        <meta description='Edit Owl Info Page, info on one owl'
        <meta charset='utf-8'/>
        <link rel='stylesheet' type='text/css' href='../../css/styles.css' />
    </head>
    <body>
        <div id='wrapper'>
            <hr>
            <h3>Edit Owl Info</h3>
            <hr>
            <br>
            <form id="editform" action="/owl/<%=owledit._id%>" method="POST">         
                <p><strong>Existing Name: </strong><%= owledit.name %></p>
                <br>
                <label for="editname">Edit Name:</label><br>
                <input type="text" name="editname" id="editname" value="<%= owledit.name %>">
                <br><br>
                <p><strong>Existing Description: </strong> <%= owledit.description %></p><br>
                <label for="editdescription">Edit Description:</label><br>
                <textarea cols="90" rows="10" name="editdescription" id="editdescription"><%= owledit.description %></textarea>
                <br><br>
                <input type="submit" name="submitedit" value="Submit Edit">
            </form>    
        </div>
    </body>
</html>